@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import 'variables.scss';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', Arial, sans-serif;
    background-color: $main-bg-color;
    color: $main-font-color;
}

ul li {
    list-style: none;
}

input {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid $dark-gray;
    color: $dark-gray;
    height: 32px;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 24px;
    &::placeholder {
        opacity: 0.8;
    }
    &:focus {
        border: 1px solid $accent;
    }
}

button {
    padding: 6px 12px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;
    text-transform: uppercase;
    border: none;
    background-color: $dark-gray;
    color: $white;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
        background-color: $accent;
        color: $main-font-color;
        transition-duration: 0.3s;
    }
    &:disabled {
        background-color: $gray;
        color: $main-font-color;
    }
}

.wrapper {
    min-height: 100vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 12px 8px;
}
